<!DOCTYPE html>
<html>
  <head>
    <title> Contact Page </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="main">
      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
      </nav>
      <div class="landing1">
        <div class="text-content">
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium odio ratione minima commodi iste animi corrupti minus perferendis rerum, sed nobis harum voluptatem, nisi nulla eveniet, a ipsa? Possimus, quo.</p>
        </div>
      </div>
      </div>
    </div>
  </body>
</html>