<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Project 1 Homepage</title>
</head>
<body>
  <div class="main">
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </nav>
    <div class="landing">
      <div id="text-content">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis sapiente aperiam velit modi deserunt architecto sequi officiis accusamus inventore fugiat, perspiciatis vel a amet fugit esse placeat voluptates vitae? Quo!</p>
        <button id="main-button">Sign Up Now</button>
      </div>
      
    </div>
  </div>
</body>
</html>
